UPDATE towns SET image_path = '6820d5c10ded6_agnoooo.jpg' WHERE town_id = 1; -- Agno
UPDATE towns SET image_path = '6813945d4ac34_hundred-island.jpg' WHERE town_id = 3; -- Alaminos
UPDATE towns SET image_path = '681394705bcd7_bolinao3.jpg' WHERE town_id = 14; -- Bolinao

